.csreportcard_venv/
.venv/
*.pyc
__pycache__/
.vscode/
# Exclude Excel files
*.xlsx
#exclude any files called test
test.*
data/output/
data/report_cards/
data/uploads/
evaluations.csv
achievements.csv